<section class="card">
    <h1>Tarefas</h1>

    @if (carregando) {
        <p>A lista de tarefas está sendo carregada...</p>
    } @else if (tarefas.length === 0) {
        <p>Nenhuma tarefa no momento</p>
    } @else {
        <table>
            <thead>
                <th>ID</th>
                <th>Descrição</th>
                <th>Nível de importância</th>
                <th>Data de criação</th>
                <th>Data Limite</th>
                <th>Pendente</th>
                <th>Ações</th>
            </thead>
            <tbody>
                @for (tarefa of tarefas; track tarefa.id){
                    <tr>
                        <td>{{ tarefa.id }}</td>
                        <td>{{ tarefa.descricao }}</td>
                        <td>{{ tarefa.nivelImportancia }}</td>
                        <td>{{ tarefa.dataCriado | date: 'dd/MM/yyyy' }}</td>
                        <td>{{ tarefa.dataLimite | date: 'dd/MM/yyyy' }}</td>
                        <td>{{ tarefa.pendente ? 'Sim' : 'Não' }}</td>
                        <td>
                            <button type="button" (click)="alternarPendente(tarefa)">
                                {{ tarefa.pendente ? 'Concluir' : 'Reabrir' }}
                            </button>
                            <button type="button" (click)="editar(tarefa)">Editar</button>
                            <button type="button" (click)="excluir(tarefa)">Apagar</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</section>