<section class="card">

    <form #form="ngForm" (ngSubmit)="salvar()">
        <label class="descricao">
            Descrição da tarefa
            <input type="text" [(ngModel)]="tarefa.descricao" minlength="3" required name="descricao"
                placeholder="Escreva a tarefa aqui">
        </label>

        <label class="importancia">
            <div>
                Nível de importância
            </div>
            <div>
                <input type="radio" [(ngModel)]="tarefa.nivelImportancia" id="nivel-baixo" name="nivelImportancia"
                    required [value]="1">
                <label for="nivel-baixo">Baixo</label>
                <input type="radio" [(ngModel)]="tarefa.nivelImportancia" id="nivel-medio" name="nivelImportancia"
                    required [value]="2">
                <label for="nivel-medio">Medio</label>

                <input type="radio" [(ngModel)]="tarefa.nivelImportancia" id="nivel-alto" name="nivelImportancia"
                    required [value]="3">
                <label for="nivel-alto">Alto</label>
            </div>
        </label>
        <label class="prazo">
            Prazo em dias
            <input type="number" [(ngModel)]="prazoDias" (input)="prazoDias = $any($event.target).valueAsNumber" min="1"
                required name="prazoDias" placeholder="Limite de dias para realizar a tarefa">
        </label>

        <div class="erro-validacao">
            @if (form.controls['descricao']?.invalid){
            <p>A descrição deve ter no mínimo 3 caractéres e não pode ser vazia</p>
            }

            @if (form.controls['nivelImportancia']?.invalid){
            <p>Nível de importância é obrigatório</p>
            }

            @if (form.controls['prazoDias']?.invalid){
            <p>Prazo não pode ser negativo ou vazio</p>
            }

            @if (mensagemSucesso) {
            <p style="color: green;">{{ mensagemSucesso }}</p>
            }
            @if (mensagemErro) {
            <p style="color: red;">{{ mensagemErro }}</p>
            }
        </div>

        

        <button type="submit" [disabled]="form.invalid">{{ form.invalid ? 'Preencha todos os campos' : 'Enviar Tarefa'
            }}</button>
    </form>

</section>