<section class="card">
    <h2>Adicione uma nova tarefa aqui</h2>

    <form class="form" (ngSubmit)="salvar()">
        <label>
            Descrição da tarefa
            <input
            type="text"
            [(ngModel)]="tarefa.descricao"
            name="descricao"
            placeholder="Escreva a tarefa aqui">
        </label>
        <label>
            <div>
                Nível de importância
            </div>
            <div>
                <input type="radio" 
                [(ngModel)]="tarefa.nivelImportancia"
                id="nivel-baixo" 
                name="nivelImportancia" 
                [value]="1">
                <label for="nivel-baixo">Baixo</label>
            </div>
            <div>
                <input type="radio"
                [(ngModel)]="tarefa.nivelImportancia" 
                id="nivel-medio" 
                name="nivelImportancia" 
                [value]="2">
                <label for="nivel-medio">Medio</label>
            </div>
            <div>
                <input type="radio" 
                [(ngModel)]="tarefa.nivelImportancia"
                id="nivel-alto" 
                name="nivelImportancia" 
                [value]="3">
                <label for="nivel-alto">Alto</label>
            </div>
        </label>
        <label>
            Prazo em dias
            <input 
            type="number"
            min="1"
            [(ngModel)]="prazoDias"
            (input)="prazoDias = $any($event.target).valueAsNumber"
            name="prazoDias"
            placeholder="Limite de dias para realizar a tarefa">
        </label>
        <button type="submit">Enviar Tarefa</button>
    </form>

</section>

<h1>Título do form</h1>
